<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>

<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
<meta charset="utf-8" name="viewport"
	content="width=device-width, initial-scale=1">
<title>ICE-CREAM</title>

<style>
*, *:after, *:before {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

body {
	font-weight: 400;
	line-height: 1.25;
	font-family: 'Raleway', Calibri, Arial, sans-serif;
}

.header {
	height: 150px;
	border: 1px solid pink;
	background: #383a3c;
	font-size: 18px;
}

.header-left {
	background: url('/images/logo.png');
	height: 150px;
	width: 150px;
	background-repeat: no-repeat;
}

.header-right {
	margin-top: 100px;
	text-align: center;
}

.header-right a {
	margin-left: 80px;
	color: red;
}

</style>
</head>
<body>

	<div class="container">
		<!-- header -->
		<div class="col-md-12 header">
			<div class="col-md-3 header-left">
				<a href="http://localhost:8080/home" class="logo"></a>
			</div>
			<div class="col-md-8 header-right">
				<a class="active" href="http://localhost:8080/home">HOME</a>
				<a href="http://localhost:8080/recipes/1">RECIPES</a>
				<a href="http://localhost:8080/order-book">ORDER BOOK</a>
			</div>
			<div class="col-md-1 login">
				<a th:if="${#request.userPrincipal == null}" th:href="@{/login}">Login</a>
				<a th:if="${#request.userPrincipal != null}" th:href="@{/logout}">Logout</a>
			</div>
		</div>
		<!-- end header -->
	</div>
	<div class="container">
	<h3 style="background-color: green;text-align: center; color: white;padding: 10px">Change Password</h3>
	</div>
	<div class="col-md-4"></div>
	<div class="col-md-4" style="height: 300px; margin-right: -18px;">
		<div id="login">
			<h4><b th:text="${fullname}"></b></h4>
			<h4 th:text="${message}"></h4>
			<form id="login-form" class="form" th:action="'changePassword'" method="post">
				<div class="form-group">
					<label for="oldPassword" class="text-info">Old Password:</label><br>
					<input type="password" name="oldPassword" 
						class="form-control">
				</div>
				<div class="form-group">
					<label for="newPassword" class="text-info">New Password:</label><br>
					<input type="password" name="newPassword" 
						class="form-control">
				</div>
				<div class="form-group">
					<label for="RePassword" class="text-info">Re-type New Password:</label><br>
					<input type="password" name="RePassword"
						class="form-control">
				</div>
				 <input type="hidden" name="password" th:value="${password}"/>
				 <input type="hidden" name="customer_id" th:value="${customer_id}"/>
				<button class="btn btn-success" type="submit">Submit</button>
			</form>
		</div>
	</div>
	<div class="col-md-4"></div>

</body>
</html>