<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>

<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
<meta charset="utf-8" name="viewport"
	content="width=device-width, initial-scale=1">
<title>ICE-CREAM</title>

<style>
*, *:after, *:before {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

body {
	font-weight: 400;
	line-height: 1.25;
	font-family: 'Raleway', Calibri, Arial, sans-serif;
}

.header {
	height: 150px;
	border: 1px solid pink;
	background: #3A2F0B;
	font-size: 18px;
}

.header-left {
	background: url('/images/logo.png');
	height: 150px;
	width: 150px;
	background-repeat: no-repeat;
}

.header-right {
	margin-top: 100px;
	text-align: center;
}

.header-right a {
	margin-left: 80px;
	color: red;
}

/* carousel */
.media-carousel {
	margin-bottom: 0;
	padding: 0 40px 30px 40px;
	margin-top: 30px;
}
/* Previous button  */
.media-carousel .carousel-control.left {
	left: -12px;
	background-image: none;
	background: none repeat scroll 0 0 #3A2F0B;
	border: 4px solid #FFFFFF;
	border-radius: 23px 23px 23px 23px;
	height: 40px;
	width: 40px;
	margin-top: 30px
}
/* Next button  */
.media-carousel .carousel-control.right {
	right: -12px !important;
	background-image: none;
	background: none repeat scroll 0 0 #3A2F0B;
	border: 4px solid #FFFFFF;
	border-radius: 23px 23px 23px 23px;
	height: 40px;
	width: 40px;
	margin-top: 30px
}
/* Changes the position of the indicators */
.media-carousel .carousel-indicators {
	right: 50%;
	top: auto;
	bottom: 0px;
	margin-right: -19px;
}
/* Changes the colour of the indicators */
.media-carousel .carousel-indicators li {
	background: #3A2F0B;
}

.media-carousel .carousel-indicators .active {
	background: #3A2F0B;
}

.media-carousel img {
	width: 250px;
	height: 150px
}
</style>
</head>
<body>
	<div class="container">
		<!-- header -->
		<div class="col-md-12 header">
			<div class="col-md-3 header-left">
				<a href="http://localhost:8080/home" class="logo"></a>
			</div>
			<div class="col-md-8 header-right">
				<a class="active" href="http://localhost:8080/home">HOME</a>
				<a href="http://localhost:8080/recipes/1">RECIPES</a>
				<a href="http://localhost:8080/order-book">ORDER BOOK</a>
			</div>
			<div class="col-md-1 login">
				<a th:if="${#request.userPrincipal == null}" th:href="@{/login}">Login</a>
				<a th:if="${#request.userPrincipal != null}" th:href="@{/logout}">Logout</a>
			</div>
		</div>
		<!-- end header -->
	</div>
	<div class="container" style="height: 300px; margin-top: 50px">
		<div class="row" style="margin-left: 0px; margin-right: 0px">
			<div id="myCarousel" class="carousel slide" data-ride="carousel">
				<!-- Indicators -->
				<ol class="carousel-indicators">
					<li data-target="#myCarousel" data-slide-to="1" class="active"></li>
					<li data-target="#myCarousel" data-slide-to="0"></li>
				</ol>

				<!-- Wrapper for slides -->
				<div class="carousel-inner">
					<div class="item active">
						<div class="col-md-2"></div>
						<div class="col-md-4">
							<div class="hinh">
								<img style="border: 3px solid;"
									src="images/Chocolate almond ice cream(300x300).jpg">
							</div>
						</div>
						<div class="col-md-3 detail">
							<span> 2 envelopes unflavored gelatin. 6 tablespoons cold
								water. 3 cups milk. 3 cups sugar. 1/4 teaspoon salt. 3 eggs,
								lightly beaten. 6 to 7 ounces unsweetened chocolate, melted. 4
								cups heavy whipping cream. 2 teaspoons vanilla extract. 1 cup
								sliced or slivered Diamond of California® Almonds, toasted.</span><br>
							<br> <a th:href="'recipes/7'" style="text-decoration: none"><button
									class="btn btn-success">VIEW THIS RECIPE</button></a>

						</div>
						<div class="col-md-3 detail"></div>

					</div>

					<div class="item" th:each="lstRecipe: ${lstRecipetop6}">
						<div class="col-md-2"></div>
						<div class="col-md-4">
							<div class="hinh">
								<img style="border: 3px solid;" th:src="${lstRecipe.image}">
							</div>
						</div>
						<div class="col-md-3 detail">
							<span th:text="${lstRecipe.desciption}"></span><br> <br>
							<a th:href="'recipes/' + ${lstRecipe.recipe_id}"
								style="text-decoration: none"><button
									class="btn btn-success">VIEW THIS RECIPE</button></a>
						</div>
						<div class="col-md-3 detail"></div>

					</div>

				</div>

				<!-- Left and right controls -->
				<a class="left carousel-control" href="#myCarousel"
					data-slide="prev"> <span
					class="glyphicon glyphicon-chevron-left"></span> <span
					class="sr-only">Previous</span>
				</a> <a class="right carousel-control" href="#myCarousel"
					data-slide="next"> <span
					class="glyphicon glyphicon-chevron-right"></span> <span
					class="sr-only">Next</span>
				</a>
			</div>
		</div>
		<br> <br>
		<!-- login form -->
		<div class="row" style="margin-left: 0px; margin-right: 0px">
			<div class="col-md-12 loginform">
				<div class="col-md-4 el1"
					style="border: 1px dotted blue; min-height: 300px ; margin-right: 15px">
					<h3>
						<ins>Newest 10 User's Recipes</ins>
					</h3>
					<div th:each="list: ${userRecipe}">
						<h5 th:text="${list.user_recipe_id} + ': ' +${list.name} + ' of ' + ${list.customer.getFull_name()}"></h5>
					</div>
				</div>
				<div class="col-md-4 el2"
					style="border: 1px dotted blue; min-height: 300px ; margin-left: -5px">
					<h3>
						<ins>Top 10 Most View Recipes</ins>
					</h3>
					<div th:each="lstRecipe: ${lstRecipetop10}">
						<h5 style="color: blue" th:text="${lstRecipe.recipe_id} + ': ' +${lstRecipe.name}"></h5>
					</div>
				</div>
				<div class="col-md-4 el3"
					style="height: 300px; margin-right: -18px;">
					<div id="login">
						<form th:if="${#request.userPrincipal == null}" id="login-form"  th:action="@{/j_spring_security_check}" class="form" method="POST">
							<h3 class="text-center text-info">Login</h3>
							 <p th:if="${param.error}" class="error">Invalid email or password</p>
        					<p th:if="${param.logout}" class="success">You have been logged out</p>
							<div class="form-group">
								<label for="username" class="text-info">Username:</label><br>
								<input type="text" name="username" id="username"
									class="form-control">
							</div>
							<div class="form-group">
								<label for="password" class="text-info">Password:</label><br>
								<input type="password" name="password" id="password"
									class="form-control">
							</div>
							<div class="form-group">
								<label for="remember-me" class="text-info"><span>Remember
										me</span> <span><input id="remember-me" name="remember-me"
										type="checkbox"></span></label><br> <input type="submit"
									name="submit" class="btn btn-info btn-md" value="Login">
							</div>
							<h4 style="color: red;" th:text="${message}"></h4>
							<div id="register-link" class="text-right">
								<a href="register" class="text-info">Don't have a Ice-Cream
									ID ? Register now</a>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
	<br>
	<br>
	<div class="container">
		<div class='row'>
			<div class='col-md-12'>
				<div class="carousel slide media-carousel" id="media">
					<div class="carousel-inner">
						<div class="item  active">
							<div class="row">
								<div class="col-md-2" th:each="lstRecipe: ${lstRecipetop6}">
									<a class="thumbnail" href=""> <img alt=""
										th:src="${lstRecipe.image}" th:text="${lstRecipe.name}"></a>
								</div>
							</div>
						</div>
						<div class="item">
							<div class="row">
								<div class="col-md-2" th:each="lstRecipe: ${lstRecipetop6}">
									<a class="thumbnail" href=""> <img alt=""
										th:src="${lstRecipe.image}" th:text="${lstRecipe.name}"></a>
								</div>
							</div>
						</div>
					</div>
					<a data-slide="prev" href="#media" class="left carousel-control">‹</a>
					<a data-slide="next" href="#media" class="right carousel-control">›</a>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12">
			<div class="col-md-4"></div>
			<div class="col-md-4">
				<div class="col-md-12" style="border: 1px solid; color: black">
					<div class="col-md-3" style="border-right: 1px solid;">
						<a href="FAQ">FAQ</a>
					</div>
					<div class="col-md-3" style="border-right: 1px solid;">
						<a href="feedback">Feedback</a>
					</div>
					<div class="col-md-3" style="border-right: 1px solid;">
						<a href="">About Us</a>
					</div>
					<div class="col-md-3">
						<a href="ctUs">Contact Us</a>
					</div>

				</div>
			</div>
			<div class="col-md-4"></div>
		</div>
	</div>
	<script type="text/javascript">
		$(document).ready(function() {
			$('#media').carousel({
				pause : true,
				interval : false,
			});
		});
	</script>
</body>
</html>