<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>

<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
<meta charset="utf-8" name="viewport"
	content="width=device-width, initial-scale=1">
<title>ICE-CREAM</title>

<style>
*, *:after, *:before {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

body {
	font-weight: 400;
	line-height: 1.25;
	font-family: 'Raleway', Calibri, Arial, sans-serif;
}

.header {
	height: 150px;
	border: 1px solid pink;
	background: #383a3c;
	font-size: 18px;
}

.header-left {
	background: url('/images/logo.png');
	height: 150px;
	width: 150px;
	background-repeat: no-repeat;
}

.header-right {
	margin-top: 100px;
	text-align: center;
}

.header-right a {
	margin-left: 80px;
	color: red;
}
</style>
</head>
<body>

	<div class="col-md-4"></div>
	<div class="col-md-4" style="height: 300px; margin-right: -18px;">
		<div id="login">
		<p th:if="${#request.userPrincipal != null}" >You have been login</p>
		<a th:if="${#request.userPrincipal != null}" th:href="@{/login-profile}">Back to profile</a>
			<form th:if="${#request.userPrincipal == null}" id="login-form" class="form" th:action="@{/j_spring_security_check}" method="POST">
				<h3 class="text-center text-info">Login</h3>
				<h3 th:text="${message}"></h3>
				 <p th:if="${param.error}" class="error">Invalid email or password !</p>
        			<p th:if="${param.logout}" class="success">You have been logged out !</p>
				<div class="form-group">
					<label for="username" class="text-info">Username:</label><br>
					<input type="text" name="username" id="username"
						class="form-control">
				</div>
				<div class="form-group">
					<label for="password" class="text-info">Password:</label><br>
					<input type="password" name="password" id="password"
						class="form-control">
				</div>
				<div class="form-group">
					<label for="remember-me" class="text-info"><span>Remember
							me</span> <span><input id="remember-me" name="remember-me"
							type="checkbox"></span></label><br> 
							
				<input type="submit" name="submit" class="btn btn-info btn-md" value="Login">
				</div>
				<div id="register-link" class="text-right">
					<a href="http://localhost:8080/register" class="text-info">Don't have a Ice-Cream ID ?
						Register now</a>
				</div>
				<div id="register-link" class="text-right">
					<a onclick="forgot()" class="text-info">Forgot Password</a>
				</div>
			</form>
		</div>
	</div>
	<div class="col-md-4"></div>
<script type="text/javascript">
function forgot() {
	alert("function not complete ! Please register new user !");
}
</script>
</body>
</html>