<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>

<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
<meta charset="utf-8" name="viewport"
	content="width=device-width, initial-scale=1">
<title>ICE-CREAM</title>

<style>
*, *:after, *:before {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
html{
scroll-behavior: smooth;
}
body {
	font-weight: 400;
	line-height: 1.25;
	font-family: 'Raleway', Calibri, Arial, sans-serif;
	background-color: #81F781
}

.header {
	height: 150px;
	border: 1px solid pink;
	background: #383a3c;
	font-size: 18px;
}

.header-left {
	background: url('/images/logo.png');
	height: 150px;
	width: 150px;
	background-repeat: no-repeat;
}

.header-right {
	margin-top: 100px;
	text-align: center;
}

.header-right a {
	margin-left: 80px;
	color: red;
}

.recipes h5 {
	border-top: 1px solid pink;
	line-height: 30px;
}

.imgbook {
	position: relative;
}
</style>
</head>
<body>
	<div class="container">
		<!-- header -->
		<div class="col-md-12 header">
			<div class="col-md-3 header-left">
				<a href="http://localhost:8080/home" class="logo"></a>
			</div>
			<div class="col-md-8 header-right">
				<a class="active" href="http://localhost:8080/home">HOME</a>
				<a href="http://localhost:8080/recipes/1">RECIPES</a>
				<a href="http://localhost:8080/order-book">ORDER BOOK</a>
			</div>
			<div class="col-md-1 login">
				<a th:if="${#request.userPrincipal == null}" th:href="@{/login}">Login</a>
				<a th:if="${#request.userPrincipal != null}" th:href="@{/logout}">Logout</a>
			</div>
		</div>
		<!-- end header -->
	</div>

	<div class="container" style="height: auto; margin-top: 50px;">
		<br> <br>
		<div class="col-md-12"
			style="background-color: white; padding: 10px; min-height: 600px">
			<div class="col-md-5 imgbook">
				<div class="hinh">
					<img style="border: 1px solid pink;"
						src="/images/desserts ice cream book.jpg">
				</div>
				<h5 style="text-align: center;"
					th:text="'Book Cost: ' + '$ ' + ${bookCost}"></h5>
				<div class="buybook" >
					<a href="#inputInfo" id="orderNow"><img alt="" src="/images/OrderNow.png" 
						style="bottom: -54px; left: -133px; position: absolute; width: 250px;"></a>

				</div>
			</div>
			<div class="col-md-7 desciption" style="color: #E0E0F8">
				<h1>Description</h1>
				<h5 style="color: black" th:text="${description}"></h5>
			</div>
			<div class="author" style="text-align: right;"><ins>Bruce Weinstein</ins>
			</div>
		</div>
	</div>
	<div class="container" id="inputInfo">
		<div class="col-md-12"
			style="background-color: white; border-top: 1px solid pink">
			<h3>Please input your information. We will fast and free
				delivery this book for you at your address.</h3>
			<div class="col-md-8">
				<form  class="form" method="POST" th:object="${online_order}"
					th:action="@{/sav-order-book}">
					
					<div class="form-group">
						<label for="yourname">* Your Name:</label> 
						<input type="text"
							name="name" class="form-control" th:field="*{name}" placeholder="Max length is 50 character">
							<h4 th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Error</h4>
					</div>
					
					<div class="form-group">
						<label for="email">* Your Email:</label>
						 <input type="email" th:field="*{email}" placeholder="Max length is 50 character"
							class="form-control" name="email" id="youremail" maxlength="50"
							required="required">
						<h4 th:if="${#fields.hasErrors('email')}" th:errors="*{email}">Error</h4>
							
					</div>
					
					<div class="form-group">
						<label for="contact">* Your contact:</label>
						<textarea rows="3" name="contact" class="form-control" th:field="*{contact}"
							required="required" id="yourcontact"></textarea>
						<h4 th:if="${#fields.hasErrors('contact')}" th:errors="*{contact}">Error</h4>
							
					</div>
					
					<div class="form-group">
						<label for="address">* Your Address:</label>
						<textarea rows="3" name="address" class="form-control" th:field="*{address}"
							required="required" id="adr" placeholder="Your the book is get delivered"></textarea>
						<h4 th:if="${#fields.hasErrors('address')}" th:errors="*{address}">Error</h4>
					</div>
					
					<div class="form-group">
						<label for="paying">Paying Option</label> <select id="paying"
							class="form-control" name="paying_option" required="required">
							<option selected>VISA</option>
							<option>SMS Banking</option>
						</select>
					</div>
					
					<div class="form-group row">
						<label for="inputCardNumber" class="col-sm-2 col-form-label">Card
							number</label>
						<div class="col-sm-9">
							<input type="text" class="form-control" id="inputCardNumber" th:value="${cardnumber}"
								placeholder="4063120045506502" name="cardnumber" required="required">
						</div>
						<div class="col-sm-1">*</div>
					</div>
					
					<div class="form-group row">
						<label for="inputNameOnCard" class="col-sm-2 col-form-label">Name
							on Card</label>
						<div class="col-sm-9">
							<input type="text" class="form-control" id="inputNameOnCard"  th:value="${cardname}"
								placeholder="Kevin Lee" name="cardname" required="required">
						</div>
						<div class="col-sm-1">*</div>
					</div>
					
					<div class="form-group row">
						<label for="expirationDate" class="col-sm-2 col-form-label">Expiration
							Date</label>
						<div class="col-sm-9">
							<input type="date" class="form-control" id="inputExpirationDate"
								placeholder="mm/dd/yyyy" name="order_date"  th:field="*{order_date}"
								required="required">
						</div>
						<div class="col-sm-1">*</div>
						<h4 th:if="${#fields.hasErrors('order_date')}" th:errors="*{order_date}">Error</h4>
						
					</div>
					
					<div class="form-group row">
						<label for="ccv" class="col-sm-2 col-form-label">CVV</label>
						<div class="col-sm-9">
							<input type="number" class="form-control" id="inputCVV" th:value="${ccv}"
								placeholder="198" name="ccv" required="required">
						</div>
						<div class="col-sm-1">*</div>
					</div>
	
					<h3>* is require</h3>
					<button class="btn btn-success" id="order" type="submit">Submit</button>
					<h1 style="color: green" th:text="${message}"></h1>
				</form>
			</div>
			<div class="col-md-4"></div>
		</div>
	</div>
</body>
</html>