<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>

<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
<meta charset="utf-8" name="viewport"
	content="width=device-width, initial-scale=1">
<title>ICE-CREAM</title>

<style>
*, *:after, *:before {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

body {
	font-weight: 400;
	line-height: 1.25;
	font-family: 'Raleway', Calibri, Arial, sans-serif;
}

.header {
	height: 150px;
	border: 1px solid pink;
	background: #383a3c;
	font-size: 18px;
}

.header-left {
	background: url('/images/logo.png');
	height: 150px;
	width: 150px;
	background-repeat: no-repeat;
}

.header-right {
	margin-top: 100px;
	text-align: center;
}

.header-right a {
	margin-left: 80px;
	color: red;
}

.recipes h5 {
	border-top: 1px solid pink;
	line-height: 30px;
}
</style>
</head>
<body>
	<div class="container">
		<!-- header -->
		<div class="col-md-12 header">
			<div class="col-md-3 header-left">
				<a href="http://localhost:8080/home" class="logo"></a>
			</div>
			<div class="col-md-8 header-right">
				<a class="active" href="http://localhost:8080/home">HOME</a>
				<a href="http://localhost:8080/recipes/1">RECIPES</a>
				<a href="http://localhost:8080/order-book">ORDER BOOK</a>
			</div>
			<div class="col-md-1 login">
				<a th:if="${#request.userPrincipal == null}" th:href="@{/login}">Login</a>
				<a th:if="${#request.userPrincipal != null}" th:href="@{/logout}">Logout</a>
			</div>
		</div>
		<!-- end header -->
	</div>

	<div class="container" style="margin-top: 50px;" th:object="${customer}">
		<div class="row"
			style="border-bottom: 1px solid pink; margin-bottom: 10px; padding-bottom: 10px;">
			<div class="col-md-6" style="text-align: center; color: red" th:text="*{full_name} + ' ' + 'Profile'"></div>
			<div class="col-md-6" style="text-align: right;">
				<div class="col-md-3"></div>
				<div class="col-md-3"></div>
				<div class="col-md-3" style="text-align: center;">
					<a th:href="'http://localhost:8080/your-recipe/' + *{customer_id}" ><button class="btn btn-info">Post your recipe</button></a><br>
				</div>
				<div class="col-md-3">
					<form th:action="'http://localhost:8080/cutomerChangePassword'" th:method="post" >
					  <input type="hidden" name="password" th:value="*{password}"/>
					  <input type="hidden" name="customer_id" th:value="*{customer_id}"/>
					  <input type="hidden" name="fullname" th:value="*{full_name}"/>
					  <button type="submit" class="btn btn-info">Change password</button>
					</form>
				</div>
				
				
			</div>
		</div>
		<div class="row"
			style="text-align: left; margin-left: 0px; margin-right: 0px;">
			<div class="col-md-6">
				<form>
					<div class="form-group row" style="border-bottom: 1px solid pink;">
					<span sec:authentication="name"></span>
						<h5 th:text="'Full name: ' + *{full_name}">Full name: "info"</h5>
					</div>
					<div class="form-group row" style="border-bottom: 1px solid pink;">
						<h5 th:text="'Address: ' + *{address}" >Address: "info"</h5>
					</div>
					<div class="form-group row" style="border-bottom: 1px solid pink;">
						<h5 th:text="'Phone Numer: ' + *{phone_number}" >Phone number: "info"</h5>
					</div>
					<div class="form-group row" style="border-bottom: 1px solid pink;">
						<h5 th:text="'Email: ' + *{email}" >Email: "info"</h5>
					</div>
					<div class="form-group row" style="border-bottom: 1px solid pink;">
						<h5 th:text="'Gender: ' + *{gender}" >Gender: "info"</h5>
					</div>
					<div class="form-group row" style="border-bottom: 1px solid pink;">
						<h5 th:text="'Birth day: ' + *{birthday}" >Birth day: "info"</h5>
					</div>
					<div class="form-group row" style="border-bottom: 1px solid pink;">
						<h5>Avatar:</h5>
						<img alt="" th:src="'/' + *{avatar}" width="250" height="250">
					</div>
					<div class="form-group row" style="border-bottom: 1px solid pink;">
						<h5 th:text="'Expiration Date: ' + *{expired_date}" >Expiration Date: "info"</h5>
					</div>
				</form>
			</div>
			<div class="col-md-6"></div>

		</div>

		<div class="row"
			style="text-align: center; border-bottom: 1px solid pink; color: red">
			<h5 style="padding: 0 10px;" th:text="'You have ' + ${dateUseService} + ' day to use our service'"></h5>
		</div>
		<div class="row"
			style="text-align: center; border-bottom: 1px solid pink; padding: 10px;">
			<a onclick="paying()">Check here to paying</a>
		</div>
		<div class="row"
			style="text-align: center; border-bottom: 1px solid pink;  padding: 10px;">
			<a th:href="@{'/get-profile/' + *{customer_id}}" style="text-decoration: none"><button class="btn btn-success">Update</button></a>
			<a th:href="@{/home}" style="text-decoration: none"><button class="btn btn-info">Back</button></a>
		</div>
	</div>
<script type="text/javascript">

function paying() {
	alert("function not complete ! Please try again ");
}
</script>	
	   
</body>
</html>