<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>

<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
<meta charset="utf-8" name="viewport"
	content="width=device-width, initial-scale=1">
<title>ICE-CREAM</title>

<style>
*, *:after, *:before {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

body {
	font-weight: 400;
	line-height: 1.25;
	font-family: 'Raleway', Calibri, Arial, sans-serif;
}

.header {
	height: 150px;
	border: 1px solid pink;
	background: #383a3c;
	font-size: 18px;
}

.header-left {
	background: url('/images/logo.png');
	height: 150px;
	width: 150px;
	background-repeat: no-repeat;
}

.header-right {
	margin-top: 100px;
	text-align: center;
}

.header-right a {
	margin-left: 80px;
	color: red;
}

.btn-file {
	position: relative;
	overflow: hidden;
}

.btn-file input[type=file] {
	position: absolute;
	top: 0;
	right: 0;
	min-width: 100%;
	min-height: 100%;
	font-size: 100px;
	text-align: right;
	filter: alpha(opacity = 0);
	opacity: 0;
	outline: none;
	background: white;
	cursor: inherit;
	display: block;
}

#img-upload {
	width: 100%;
}
</style>
</head>
<body>
	<div class="container">
		<!-- header -->
		<div class="col-md-12 header">
			<div class="col-md-3 header-left">
				<a href="http://localhost:8080/home" class="logo"></a>
			</div>
			<div class="col-md-8 header-right">
				<a class="active" href="http://localhost:8080/home">HOME</a>
				<a href="http://localhost:8080/recipes/1">RECIPES</a>
				<a href="http://localhost:8080/order-book">ORDER BOOK</a>
			</div>
			<div class="col-md-1 login">
				<a th:if="${#request.userPrincipal == null}" th:href="@{/login}">Login</a>
				<a th:if="${#request.userPrincipal != null}" th:href="@{/logout}">Logout</a>
			</div>
		</div>
		<!-- end header -->
	</div>
	<div class="container">
		<div class="register-img"
			style="margin-bottom: 10px; margin-top: 30px; margin-left: 150px;">
			<img alt="" style="height: 80px;" src="/images/Register-Button.jpg">
		</div>
		<div class="row">
			<div class="col-md-10">
				<form id="login-form" class="form" method="POST" th:action="@{/register}" th:object="${myUploadForm}" enctype="multipart/form-data" >
					<div th:object="${customer}">
						<div class="form-group row">
							<label for="inputUsername" class="col-sm-2 col-form-label">User
								name</label>
							<div class="col-sm-10">
								<input type="text" class="form-control" id="inputUsername" th:field="*{username}"
									placeholder="Input Username" name="username">
								<h5 th:if="${#fields.hasErrors('username')}" th:errors="*{username}" style="color: red">Error</h5>
							</div>
						</div>
						<div class="form-group row">
							<label for="inputPassword" class="col-sm-2 col-form-label">Password</label>
							<div class="col-sm-10">
								<input type="password" class="form-control" id="inputPassword"  th:field="*{password}"
									placeholder="******" name="password">
								<h5 th:if="${#fields.hasErrors('password')}" th:errors="*{password}" style="color: red">Error</h5>
							</div>
							
						</div>
						<div class="form-group row">
							<label for="inputFullname" class="col-sm-2 col-form-label">Full
								name</label>
							<div class="col-sm-10">
								<input type="text" class="form-control" id="inputFullname"  th:field="*{full_name}"
									placeholder="Input Your Full name" name="full_name">
								<h5 th:if="${#fields.hasErrors('full_name')}" th:errors="*{full_name}" style="color: red">Error</h5>
							
							</div>
							<div class="col-sm-4">*
							</div>
						</div>
						<div class="form-group row">
							<label for="inputAddress" class="col-sm-2 col-form-label">Address</label>
							<div class="col-sm-10">
								<input type="text" class="form-control" id="inputAddress" th:field="*{address}"
									placeholder="Input Your Address" name="address">
							</div>
							<div class="col-sm-4"></div>
						</div>
						<div class="form-group row">
							<label for="inputPhonenumber" class="col-sm-2 col-form-label">Phone
								number</label>
							<div class="col-sm-10">
								<input type="number" class="form-control" id="inputPhonenumber" th:field="*{phone_number}"
									placeholder="Input Your Phone Number" name="phone_number">
							</div>
						</div>
						<div class="form-group row">
							<label for="inputEmail" class="col-sm-2 col-form-label">Email</label>
							<div class="col-sm-10">
								<input type="email" class="form-control" id="inputEmail" th:field="*{email}"
									placeholder="Input Email, exp: abc.1@gmail.com" name="email">
									<h5	 th:if="${#fields.hasErrors('email')}" th:errors="*{email}" style="color: red">Error</h5>
							</div>
						</div>
						<div class="form-group">
							<label for="gender" class="col-sm-2 col-form-label">Gender</label>
							<select id="inputGender" class="form-control" name="gender">
								<option value="1" selected>Male</option>
								<option value="0">FeMale</option>
							</select>
						</div>
						<div class="form-group row">
							<label for="birthday" class="col-sm-2 col-form-label">Birth Day</label>
							<div class="col-sm-10">
								<input type="date" class="form-control" id="birthday"  th:field="*{birthday}"
									placeholder="Email" name="birthday">									
							</div>
						</div>					
						<div class="form-group">
							<label>Avatar</label>
							<div class="input-group">
								<input type="file" id="imgInp" th:field="${myUploadForm.fileDatas}">
								<h5 th:if="${checkfile}" th:text="${checkfile}" style="color: red"></h5>

							</div>
							<img id='img-upload' style="width: 150px" />
						</div>
						<button class="btn btn-success" type="submit" value="submit">Register</button>
						<button class="btn btn-warning" type="reset" value="reset">Clear</button>
					</div>

				</form>
			</div>
			<div class="col-md-2"></div>
		</div>
	</div>
	<script type="text/javascript">
		$(document).ready(
				function() {
					$(document).on(
							'change',
							'.btn-file :file',
							function() {
								var input = $(this), label = input.val()
										.replace(/\\/g, '/')
										.replace(/.*\//, '');
								input.trigger('fileselect', [ label ]);
							});

					$('.btn-file :file').on(
							'fileselect',
							function(event, label) {

								var input = $(this).parents('.input-group')
										.find(':text'), log = label;

								if (input.length) {
									input.val(log);
								} else {
									if (log)
										alert(log);
								}

							});
					function readURL(input) {
						if (input.files && input.files[0]) {
							var reader = new FileReader();

							reader.onload = function(e) {
								$('#img-upload').attr('src', e.target.result);
							}

							reader.readAsDataURL(input.files[0]);
						}
					}

					$("#imgInp").change(function() {
						readURL(this);
					});
				});
	</script>
</body>
</html>