<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>

<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
<meta charset="utf-8" name="viewport"
	content="width=device-width, initial-scale=1">
<title>ICE-CREAM</title>

<style>
*, *:after, *:before {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

body {
	font-weight: 400;
	line-height: 1.25;
	font-family: 'Raleway', Calibri, Arial, sans-serif;
}

.header {
	height: 150px;
	border: 1px solid pink;
	background: #383a3c;
	font-size: 18px;
}

.header-left {
	background: url('/img/logo.png');
	height: 150px;
	width: 150px;
	background-repeat: no-repeat;
}

.header-right {
	margin-top: 100px;
	text-align: center;
}

.header-right a {
	margin-left: 80px;
	color: red;
}

.recipes h5 {
	border-top: 1px solid pink;
	line-height: 30px;
}

.btn-file {
	position: relative;
	overflow: hidden;
}

.btn-file input[type=file] {
	position: absolute;
	top: 0;
	right: 0;
	min-width: 100%;
	min-height: 100%;
	font-size: 100px;
	text-align: right;
	filter: alpha(opacity = 0);
	opacity: 0;
	outline: none;
	background: white;
	cursor: inherit;
	display: block;
}

#img-upload {
	width: 100%;
}
</style>
</head>
<body>
	<div class="container">
		<!-- header -->
		<div class="col-md-12 header">
			<div class="col-md-3 header-left">
				<a href="http://localhost:8080/home" class="logo"></a>
			</div>
			<div class="col-md-8 header-right">
				<a class="active" href="http://localhost:8080/home">HOME</a>
				<a href="http://localhost:8080/recipes/1">RECIPES</a>
				<a href="http://localhost:8080/order-book">ORDER BOOK</a>
			</div>
			<div class="col-md-1 login">
				<a th:if="${#request.userPrincipal == null}" th:href="@{/login}">Login</a>
				<a th:if="${#request.userPrincipal != null}" th:href="@{/logout}">Logout</a>
			</div>
		</div>
		<!-- end header -->
	</div>

	<div class="container" style="margin-top: 50px;">
		<div class="row"
			style="border-bottom: 1px solid pink; margin-bottom: 10px; padding-bottom: 10px;">
			<div class="col-md-6" style="text-align: center; color: red"
				th:text="${customer.full_name} + ' ' + 'Profile'"></div>
			<div class="col-md-6" style="text-align: right;">
			</div>
		</div>
		<div class="row"
			style="text-align: left; margin-left: 0px; margin-right: 0px;">
			<div class="col-md-2"></div>
			<div class="col-md-8">
				<form id="login-form" class="form" method="post" th:object="${myUploadForm}" th:action="@{/update-profile}" enctype="multipart/form-data">
					<div class="data" th:object="${customer}">
						<input type="hidden" th:value="*{customer_id}" th:field="*{customer_id}" name="customer_id">
						<input type="hidden" class="form-control" th:value="${username}" th:field="*{username}"
									name="username">
						<input type="hidden" class="form-control" th:value="${password}" th:field="*{password}"
									name="password">
									
						<div class="form-group row" style="border-bottom: 1px solid pink;">
							<label class="col-sm-3 col-form-label">Full name: </label>
							<div class="col-sm-9">
								<input type="text" class="form-control" th:value="*{full_name}" th:field="*{full_name}"
									name="full_name">
							<h4 th:if="${#fields.hasErrors('full_name')}" th:errors="*{full_name}">Error</h4>
									
							</div>
						</div>
	
						<div class="form-group row" style="border-bottom: 1px solid pink;">
							<label class="col-sm-3 col-form-label">Address </label>
							<div class="col-sm-9">
								<input type="text" class="form-control" th:value="*{address}" th:field="*{address}"
									name="address">
							</div>
						</div>
	
						<div class="form-group row" style="border-bottom: 1px solid pink;">
							<label class="col-sm-3 col-form-label">Phone number: </label>
							<div class="col-sm-9">
								<input type="text" class="form-control" th:value="*{phone_number}" th:field="*{phone_number}"
									name="phone_number">
	
							</div>
						</div>
	
						<div class="form-group row" style="border-bottom: 1px solid pink;">
							<label class="col-sm-3 col-form-label">Email: </label>
							<div class="col-sm-9">
								<input type="email" class="form-control" name="email"
									th:value="*{email}" th:field="*{email}">
	
							</div>
						</div>
	
						<div class="form-group row">
							<label for="gender" class="col-sm-3 col-form-label">Gender</label>
							<div class="col-sm-9">
								<select id="inputGender" class="form-control" name="gender"
									th:value="*{gender}" th:field="*{gender}">
									<option value="1" selected>Male</option>
									<option value="0">FeMale</option>
								</select>
							</div>
						</div>
	
 						<div class="form-group">
							<label>Avatar</label>
							<div class="input-group">
								<span class="input-group-btn"> <span
									class="btn btn-default btn-file"> Browse… 
									<input th:field="${myUploadForm.fileDatas}" th:value="${myUploadForm.fileDatas}" name ="fileDatas"
										type="file" id="imgInp">
								</span>
								</span> <input type="text" class="form-control" readonly name="avatar">
							</div>
							<img id='img-upload' style="width: 150px" th:src="'/'+ *{avatar}"  th:field="*{avatar}"/>
						</div>
						
						<div class="form-group row" style="border-bottom: 1px solid pink;">
							<label class="col-sm-3 col-form-label">Birth day: </label>
							<div class="col-sm-9">
								<input type="date" class="form-control" name="birthday"
									th:value="${birthday}" th:field="*{birthday}">
							</div>
						</div>
	
						<div class="form-group row" style="border-bottom: 1px solid pink;">
							<label class="col-sm-3 col-form-label">Expiration Date: </label>
							<div class="col-sm-9">
								<input type="text"  class="form-control" th:field="*{expired_date}"
									name="expired_date" th:value="*{expired_date}" readonly>								
							</div>
						</div>
						<div class="row"
							style="text-align: center; border-bottom: 1px solid pink; color: red">
							<h5 style="padding: 0 10px;" th:text="'You have ' + ${dateUseService} + ' day to use our service'"></h5>
						</div>
						<div class="row"
							style="text-align: center; border-bottom: 1px solid pink; padding: 10px;">
							<a onclick="paying()">Check here to paying</a>
						</div>
						<div class="row"
							style="text-align: center; border-bottom: 1px solid pink; padding: 10px;">
							<button class="btn btn-warning" type="submit">Save</button>
						</div>
					</div>
				</form>
			</div>
			<div class="col-md-2"></div>

		</div>


	</div>
	<script type="text/javascript">
		function paying() {
			alert("function not complete ! Please try again ");
		}

		$(document).ready(
				function() {
					$(document).on(
							'change',
							'.btn-file :file',
							function() {
								var input = $(this), label = input.val()
										.replace(/\\/g, '/')
										.replace(/.*\//, '');
								input.trigger('fileselect', [ label ]);
							});

					$('.btn-file :file').on(
							'fileselect',
							function(event, label) {

								var input = $(this).parents('.input-group')
										.find(':text'), log = label;

								if (input.length) {
									input.val(log);
								} else {
									if (log)
										alert(log);
								}

							});
					function readURL(input) {
						if (input.files && input.files[0]) {
							var reader = new FileReader();

							reader.onload = function(e) {
								$('#img-upload').attr('src', e.target.result);
							}

							reader.readAsDataURL(input.files[0]);
						}
					}

					$("#imgInp").change(function() {
						readURL(this);
					});
				});
	</script>

</body>
</html>