<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>

<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
<meta charset="utf-8" name="viewport"
	content="width=device-width, initial-scale=1">
<title>ICE-CREAM</title>

<style>
*, *:after, *:before {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

body {
	font-weight: 400;
	line-height: 1.25;
	font-family: 'Raleway', Calibri, Arial, sans-serif;
}

.header {
	height: 150px;
	border: 1px solid pink;
	background: #383a3c;
	font-size: 18px;
}

.header-left {
	background: url('/images/logo.png');
	height: 150px;
	width: 150px;
	background-repeat: no-repeat;
}

.header-right {
	margin-top: 100px;
	text-align: center;
}

.header-right a {
	margin-left: 80px;
	color: red;
}
</style>
</head>
<body>
	<div class="container">
		<!-- header -->
		<div class="col-md-12 header">
			<div class="col-md-3 header-left">
				<a href="http://localhost:8080/home" class="logo"></a>
			</div>
			<div class="col-md-8 header-right">
				<a class="active" href="http://localhost:8080/home">HOME</a>
				<a href="http://localhost:8080/recipes/1">RECIPES</a>
				<a href="http://localhost:8080/order-book">ORDER BOOK</a>
			</div>
			<div class="col-md-1 login">
				<a th:if="${#request.userPrincipal == null}" th:href="@{/login}">Login</a>
				<a th:if="${#request.userPrincipal != null}" th:href="@{/logout}">Logout</a>
			</div>
		</div>
		<!-- end header -->
	</div>
	<div class="container" style="margin-top: 50px;">
		<div class="col-md-12 row">
			<h1 style="color: red">Your Recipe</h1>
			<form class="md-form"  method="POST" th:action="@{/save-yourRecipe}" th:object="${myUploadForm}" enctype="multipart/form-data" >
				<div th:object="${user_recipe}">
					<input type="hidden" class="form-control" id="id" name="customer_id" th:value="${customer_id}">
					<input type="hidden" class="form-control" id="id" name="image" th:value="*{image}" th:field="*{image}">
		
					<div class="form-group row">
						<label for="inputNameOfYourRecipe" class="col-sm-2 col-form-label">Name
							of your recipe</label>
						<div class="col-sm-10">
							<input type="text" class="form-control" id="inputNameOfYourRecipe" th:field="*{name}"
								placeholder="Name of your recipe" name="name">
						<h5 th:if="${#fields.hasErrors('name')}" th:errors="*{name}" style="color: red">Error</h5>
								
						</div>
					</div>
	
					  <div class="form-group row">
					    <label for="exampleFormControlFile1" class="col-sm-2 col-form-label">Image: </label>
					    <div class="col-sm-10">
					    	<input type="file" id="imgInp" th:field="${myUploadForm.fileDatas}">
							<h5 th:if="${checkfile}" th:text="${checkfile}" style="color: red"></h5>
					    </div>
					  </div>
	
					<div class="form-group">
						<label for="pwd">Description:</label>
						<textarea rows="3" class="form-control" id="desciption" name="desciption" th:field="*{desciption}"></textarea>
						<h5 th:if="${#fields.hasErrors('desciption')}" th:errors="*{desciption}"  style="color: red">Error</h5>
						
					</div>
					<div class="form-group">
						<label for="pwd">Details:</label>
						<textarea rows="3" class="form-control" id="details" name="details" th:field="*{details}"></textarea>
						<h5 th:if="${#fields.hasErrors('details')}" th:errors="*{details}"  style="color: red">Error</h5>
					</div>
					<h5 style="color: red">Note</h5>
					<button class="btn btn-danger" type="submit">Upload Recipe</button>
					<button class="btn btn-warning" type="reset">Clear</button>
					<br>
					<br>
				</div>
				
			</form>
		</div>
	</div>
</body>
</html>