<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>

<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
<meta charset="utf-8" name="viewport"
	content="width=device-width, initial-scale=1">
<title>Admin</title>

<style>
*, *:after, *:before {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

body {
	font-weight: 400;
	line-height: 1.25;
	font-family: 'Raleway', Calibri, Arial, sans-serif;
	background-color: #120A2A;
}

.header {
	height: 150px;
	max-height: 150px;
}

.header-left {
	background: url('/images/logo.png');
	height: 150px;
	width: 150px;
	background-repeat: no-repeat;
	max-height: 150px;
}

.header-right {
	text-align: right;
	background: url('/images/IceCreambaner.gif');
	width: 70%;
	height: 100%;
	max-height: 100%;
}

.menu {
	height: 70px;
	max-height: 70px;
}

.btn-group button {
	background-color: #4CAF50; /* Green background */
	color: #330000; /* White text */
	padding: 10px 24px; /* Some padding */
	cursor: pointer; /* Pointer/hand icon */
	float: left; /* Float the buttons side by side */
}

.btn-group button:not (:last-child ) {
	border-right: none; /* Prevent double borders */
}

/* Clear floats (clearfix hack) */
.btn-group:after {
	content: "";
	clear: both;
	display: table;
}

/* Add a background color on hover */
.btn-group button:hover {
	background-color: #3e8e41;
}

#footer {
	background: #120A2A;
	border-top: 5px solid #333;
	color: #ccc;
	font-weight: bold;
	height: 50px;
	line-height: 50px;
	position: absolute;
	/*bottom: 0;*/
	left: 0;
	width: 100%;
	text-align: center;
}
.body-wrapper{
	position: relative;
}
</style>
</head>
<body>

	<!-- header -->
	<div th:replace="commonPage/header :: headers"></div>
	<!-- end header -->

	<div class="container-fluid" style="margin-top: 20px;background-color: white">

		<!-- group button -->
		<div th:replace="commonPage/btnGroup :: groupButton"></div>
		<!-- end group button -->

		<div class="filter">
			<div class="col-md-8">
				<div class="col-md-5">
					<form th:action="'searchUsername'" method="post">
						<div class="form-group row">
							<label class="col-sm-9 col-form-label">
								<input type="text" class="form-control" th:value="${keyword}" name="keyword">
							</label>
							<div class="col-sm-3">
								<button type="submit" class="form-control">Find</button>
							</div>
						</div>
					</form>
					
				</div>
				<div class="col-md-7"></div>
			</div>
			<div class="col-md-4 form-group">
				<form th:action="'sortby'" method="post">
					<input type="hidden" class="form-control" th:value="${keyword}" name="keyword">
					<label for="gender" class="col-sm-2 col-form-label" style="line-height: 20px;">Sort by</label>
					<div class="col-md-7">
						<select id="inputGender" class="form-control" name="sortby">
							<option value="customer_id" th:value="${sortby} ? 'customer_id': ${sortby}" 
							th:selected="${sortby} == 'customer_id' ? 'selected'" >ID</option>
							<option value="username" th:value="${sortby} ? 'username': ${sortby}"
							 th:selected="${sortby} == 'username' ? 'selected'" >User name</option>
							<option value="expired_date" th:value="${sortby} ? 'expired_date': ${sortby}" 
							th:selected="${sortby} == 'expired_date' ? 'selected'" >Expired Date</option>
						</select>
					</div>
					<div class="col-sm-3">
						<button type="submit" class="form-control">Sort</button>
					</div>
				</form>
				
			</div>
		</div>
		<div class="data">
		<form th:action="@{/updateCustomer}" method="post" th:object="${myCustomers}">
<!-- 			<input type="hidden" th:value="${listCus.customer_id}" name="customer_id">
 -->			<table class="table table-striped">
				<thead style="background-color: #A9BCF5">
					<tr>
						<th scope="col">ID</th>
						<th scope="col">User name</th>
						<th scope="col">Full name</th>
						<th scope="col">Email</th>
						<th scope="col">Expired date</th>
						<th scope="col">Enable</th>
						<th scope="col">Detail</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="cutomers: *{customers}">
						<th scope="row" th:text="${cutomers.customer_id}" th:field="${cutomers.customer_id}" th:value="${cutomers.customer_id}" ></th>
						<td th:text="${cutomers.username}" ></td>
						<td th:text="${cutomers.full_name}" ></td>
						<td th:text="${cutomers.email}"></td>
						<td th:text="${cutomers.expired_date}"></td>
						<td>
							<input type="checkbox" name="enable" value="1" th:value="${cutomers.enable_status}" th:checked="${cutomers.enable_status} == 1 ? 'checked'">
						</td>
						<td><a th:href="@{'/view-adminCustomerDetails?customer_id=' + ${cutomers.customer_id}}"><img alt="" src="images/uploaded/user_edit.png"></a></td>
					</tr>
					<tr style="background-color: #A9BCF5">
						<td colspan="7" th:text="${total}"></td>
					</tr>
				</tbody>
			</table>
			<div class="row">
<!-- 				<button type="submit" class="form-control" style="background-color: #CECEF6; width: 100px;margin-left: 50%;margin-bottom: 10px;">Update</button>
 -->			</div>
		</form>

		</div>
	</div>
			

	<!-- footer -->
	<div th:replace="commonPage/footer :: footer"></div>>
	<!-- end footer -->



</body>
</html>