<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>

<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
<meta charset="utf-8" name="viewport"
	content="width=device-width, initial-scale=1">
<title>Ice-Cream Admin</title>

<style>
*, *:after, *:before {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

body {
	font-weight: 400;
	line-height: 1.25;
	font-family: 'Raleway', Calibri, Arial, sans-serif;
	background-color: #120A2A;
}

.header {
	height: 150px;
	max-height: 150px;
}

.header-left {
	background: url('/images/logo.png');
	height: 150px;
	width: 150px;
	background-repeat: no-repeat;
	max-height: 150px;
}

.header-right {
	text-align: right;
	background: url('/images/IceCreambaner.gif');
	width: 70%;
	height: 100%;
	max-height: 100%;
}
.btn-group button {
	background-color: #4CAF50; /* Green background */
	border: 1px solid green; /* Green border */
	color: #330000; /* White text */
	padding: 10px 24px; /* Some padding */
	cursor: pointer; /* Pointer/hand icon */
	float: left; /* Float the buttons side by side */
}

.btn-group button:not (:last-child ) {
	border-right: none; /* Prevent double borders */
}

/* Clear floats (clearfix hack) */
.btn-group:after {
	content: "";
	clear: both;
	display: table;
}

/* Add a background color on hover */
.btn-group button:hover {
	background-color: #3e8e41;
}
.body-wrapper{
	position: relative;
}
#footer {
	background: #120A2A;
	border-top: 5px solid #333;
	color: #ccc;
	font-weight: bold;
	height: 50px;
	line-height: 50px;
	position: absolute;
	/*bottom: 0;*/
	left: 0;
	width: 100%;
	text-align: center;
}
</style>
</head>
<body>
	<!-- header -->
	<div th:replace="commonPage/header :: headers"></div>
	<!-- end header -->
	
	<div class="container-fluid body-wrapper" style="background-color: white;margin-top: 50px;">
	
		<!-- group button -->
		<div th:replace="commonPage/btnGroup :: groupButton"></div>
		<!-- end group button -->
		

		<div class="text-center text-info" style="height: 30px; width: 100%; background-color: #CECEF6;color: #330000"><h4 style="line-height: 30px"> Infomation of Customer</h4> </div>
		<div class="row" style="margin-top: 10px">
			<div class="col-md-3"></div>
			<div class="col-md-2">
				<form id="form" class="form">
					<div class="form-group">
						<label for="customerID" class="text-info">CustomerID:</label>	<br>
						<label for="username" class="text-info">Username:</label><br>
						<label for="fullname" class="text-info">Full Name:</label>	<br>
						<label for="address" class="text-info">Address:</label>	<br>
						<label for="phonenumber" class="text-info">Phone Number:</label>	<br>
						<label for="email" class="text-info">Email:</label>	<br>
						<label for="gender" class="text-info">Gender:</label>	<br></br>
						<label for="birthday" class="text-info">Birthday:</label>	<br><br>
						<label for="expireddate" class="text-info">Expired Date:</label><br></br><br>
						<label for="expireddate" class="text-info"></label>	<br>
						<label for="enablestatus" class="text-info">Enable Status:</label>	<br>
					</div>
				</form>
			</div>
			<div class="col-md-2">
				<form id="form" class="form" th:object="${customer}" th:action="@{/updateCustomerDetail}" method="post">
					<div class="form-group">
						<input type="hidden" th:field=*{customer_id}>
						
						<label for="customer_id" class="text-info" th:text="*{customer_id}"></label><br>
						<label for="username" class="text-info" th:text="*{username}"></label><br>
						<label for="fullname" class="text-info" th:text="*{full_name}"></label><br>	
						<label for="address" class="text-info" th:text="*{address}"></label><br>	
						<label for="phonenumber" class="text-info" th:text="*{phone_number}"></label><br>	
						<label for="email" class="text-info" th:text="*{email}"></label><br>	
						<select class="form-control" name="gender" th:field="*{gender}">
							<option value="1" 
							th:selected="*{gender} == 1 ? 'selected'" >Male</option>
							<option th:selected="*{gender} == 0 ? 'selected'"  value="0">Female</option>
						</select> 
					</div>
					<div class="form-group">
						<input class="form-control"  th:value="*{birthday}" readonly="readonly"></input>	
					</div>
					
					<div class="form-group">
						<input class="form-control" th:value="*{expired_date}" th:field="*{expired_date}" readonly="readonly" ></input>	
					</div>
					
					<div class="form-group">
						<select class="form-control" name="plus_expired_date">
							<option value="0">Not yet</option>
							<option value="30">Monthly</option>
							<option value="365">Yealy</option>
						</select> 
					</div>
					<div class="form-group">
						<select class="form-control" name="enable_status" th:field=*{enable_status}>
							<option value="1" th:selected="*{enable_status} == 1 ? 'selected'" >Enable</option>
							<option value="0" 	th:selected="*{enable_status} == 1 ? 'selected'" >Disable</option>
						</select> 
					</div>
					<button type="submit" class="btn btn-success">Update</button><br><br>
				</form>
			</div>
			<div class="col-md-3" th:object="${customer}">
				<img th:src="'/' + *{avatar}"  class="img-responsive" alt="Responsive image" width="300" height="300" />
			</div>
		</div>

	</div>
	

	<!-- footer -->
	<div th:replace="commonPage/footer :: footer"></div>>
	<!-- end footer -->



</body>
</html>