<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>

<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
<meta charset="utf-8" name="viewport"
	content="width=device-width, initial-scale=1">
<title>Admin</title>

<style>
*, *:after, *:before {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

body {
	font-weight: 400;
	line-height: 1.25;
	font-family: 'Raleway', Calibri, Arial, sans-serif;
	background-color: #120A2A;
}

.header {
	height: 150px;
	max-height: 150px;
}

.header-left {
	background: url('/images/logo.png');
	height: 150px;
	width: 150px;
	background-repeat: no-repeat;
	max-height: 150px;
}

.header-right {
	text-align: right;
	background: url('/images/IceCreambaner.gif');
	width: 70%;
	height: 100%;
	max-height: 100%;
}

.menu {
	height: 70px;
	max-height: 70px;
}

.btn-group button {
	background-color: #4CAF50; /* Green background */
	border: 1px solid green; /* Green border */
	color: #330000; /* White text */
	padding: 10px 24px; /* Some padding */
	cursor: pointer; /* Pointer/hand icon */
	float: left; /* Float the buttons side by side */
}

.btn-group button:not (:last-child ) {
	border-right: none; /* Prevent double borders */
}

/* Clear floats (clearfix hack) */
.btn-group:after {
	content: "";
	clear: both;
	display: table;
}

/* Add a background color on hover */
.btn-group button:hover {
	background-color: #3e8e41;
}

#footer {
	background: #120A2A;
	border-top: 5px solid #333;
	color: #ccc;
	font-weight: bold;
	height: 50px;
	line-height: 50px;
	position: absolute;
	/*bottom: 0;*/
	left: 0;
	width: 100%;
	text-align: center;
}
.body-wrapper{
	position: relative;
}
</style>
</head>
<body>

	<!-- header -->
	<div th:replace="commonPage/header :: headers"></div>
	<!-- end header -->

	<div class="container-fluid" style="margin-top: 20px;background-color: white">

		<!-- group button -->
		<div th:replace="commonPage/btnGroup :: groupButton"></div>
		<!-- end group button -->

		<div class="data">
			<table class="table table-bordered">
				<thead style="background-color: #08088A; color: white">
					<tr>
						<th scope="col">UserRecipeID</th>
						<th scope="col">Recipe Name</th>
						<th scope="col">Author</th>
						<th scope="col">Prize Status</th>
						<th scope="col">Details</th>
						<th scope="col">Delete</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="listUserRecip: ${listUserRecip}">
						<th th:text="${listUserRecip.user_recipe_id}">1</th>
						<td th:text="${listUserRecip.name}">ice Cream on Sticks</td>
						<td><a th:href="@{'/authorDetail?customer_id=' + ${listUserRecip.customer_id}}" style="color: #8181F7" th:text="${listUserRecip.customer.getFull_name()}"></a></td>
						<td th:text="${listUserRecip.prize_status} == 0 ? 'Not yet' : 'Received'"></td>
						<td th:text="${listUserRecip.details}"><a th:href="@{'/view-adminUserRecipePrizedDetail?user_recipe_id=' + ${listUserRecip.user_recipe_id}}">Details</a></td>
						<td >
							<form th:action="@{/deleted-UserRecip}" method="post">
									<input type="hidden" name="user_recipe_id" th:value="${listUserRecip.user_recipe_id}">
									<button type="submit">Delete</button>
							</form>
						</td>
					</tr>
					
				</tbody>
			</table>
		</div>
	</div>
			

	<!-- footer -->
	<div th:replace="commonPage/footer :: footer"></div>>
	<!-- end footer -->



</body>
</html>