<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>

<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
<meta charset="utf-8" name="viewport"
	content="width=device-width, initial-scale=1">
<title>Ice-Cream Admin</title>

<style>
*, *:after, *:before {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

body {
	font-weight: 400;
	line-height: 1.25;
	font-family: 'Raleway', Calibri, Arial, sans-serif;
	background-color: #120A2A;
}

.header {
	height: 150px;
	max-height: 150px;
}

.header-left {
	background: url('/images/logo.png');
	height: 150px;
	width: 150px;
	background-repeat: no-repeat;
	max-height: 150px;
}

.header-right {
	text-align: right;
	background: url('/images/IceCreambaner.gif');
	width: 70%;
	height: 100%;
	max-height: 100%;
}

.btn-group button {
	background-color: #4CAF50; /* Green background */
	border: 1px solid green; /* Green border */
	color: #330000; /* White text */
	padding: 10px 24px; /* Some padding */
	cursor: pointer; /* Pointer/hand icon */
	float: left; /* Float the buttons side by side */
}

.btn-group button:not (:last-child ) {
	border-right: none; /* Prevent double borders */
}

/* Clear floats (clearfix hack) */
.btn-group:after {
	content: "";
	clear: both;
	display: table;
}

/* Add a background color on hover */
.btn-group button:hover {
	background-color: #3e8e41;
}

#footer {
	background: #120A2A;
	border-top: 5px solid #333;
	color: #ccc;
	font-weight: bold;
	height: 50px;
	line-height: 50px;
	position: absolute;
	/*bottom: 0;*/
	left: 0;
	width: 100%;
	text-align: center;
}
	.container-fluid > .row{
	margin-top: 10px;
	margin-left: 0px;
	margin-right: 0px;
}

a:hover {
	background-color: yellow;
	text-decoration: none;
}
</style>
</head>
<body>
	<!-- header -->
	<div th:replace="commonPage/header :: headers"></div>
	<!-- end header -->

	<div class="container-fluid" style="margin-top: 20px; background-color: white">
		
		<!-- group button -->
		<div th:replace="commonPage/btnGroup :: groupButton"></div>
		<!-- end group button -->
		
		<div class="row">
			<div class="col-md-6">
				<a th:href="@{/view-adminAddNewRecipe}"><button class="btn btn-info">Add New Recipe</button></a>
			</div>
			<div class="col-md-6">
				<a th:href="@{/view-adminUsersRecipesMana}"><button class="btn btn-info">User Recipe</button></a>
			</div>
		</div>
		<div class="row">
			<div class="panel panel-primary">
				<div class="panel-heading"></div>
				<div class="panel-body col-md-12" style="background-color: #E0F8F7">
					<div class="row" th:each="listRecipe: ${listRecipe}" th:object="${listRecipe}">
						<div class="col-md-1" th:text="${listRecipe.recipe_id}">Id 1</div>
						<div class="col-md-1" th:text="${listRecipe.name}">name</div>
						<div class="col-md-3"><img alt="" th:src="${listRecipe.image}" width="300" height="300"></div>
						<div class="col-md-1" th:text="${listRecipe.author}">Author</div>
						<div class="col-md-1" th:text="${listRecipe.view_number}">View number</div>
						<div class="col-md-1" th:text="${listRecipe.upload_date}">Upload date</div>
						<div class="col-md-1">
							<input type="checkbox" name="enable" value="1" th:checked="${listRecipe.enable_status} == 1 ? 'checked'">
						</div>
						<div class="col-md-1">
							<a th:href="@{'/edit-recipe?recipe_id=' + ${listRecipe.recipe_id}}">Edit</a>
						</div>
						<div class="col-md-1">
							<a th:href="@{'/preView?recipe_id=' + ${listRecipe.recipe_id}}">PreView</a>
						</div>
					</div>
					
				</div>
			</div>
		</div>
	</div>

	<!-- footer -->
	<div th:replace="commonPage/footer :: footer"></div>>
	<!-- end footer -->



</body>
</html>