<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>

<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
<meta charset="utf-8" name="viewport"
	content="width=device-width, initial-scale=1">
<title>Admin</title>

<style>
*, *:after, *:before {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

body {
	font-weight: 400;
	line-height: 1.25;
	font-family: 'Raleway', Calibri, Arial, sans-serif;
	background-color: #120A2A;
}

.header {
	height: 150px;
	max-height: 150px;
}

.header-left {
	background: url('/images/logo.png');
	height: 150px;
	width: 150px;
	background-repeat: no-repeat;
	max-height: 150px;
}

.header-right {
	text-align: right;
	background: url('/images/IceCreambaner.gif');
	width: 70%;
	height: 100%;
	max-height: 100%;
}

.menu {
	height: 70px;
	max-height: 70px;
}

.btn-group button {
	background-color: #4CAF50; /* Green background */
	border: 1px solid green; /* Green border */
	color: #330000; /* White text */
	padding: 10px 24px; /* Some padding */
	cursor: pointer; /* Pointer/hand icon */
	float: left; /* Float the buttons side by side */
}

.btn-group button:not (:last-child ) {
	border-right: none; /* Prevent double borders */
}

/* Clear floats (clearfix hack) */
.btn-group:after {
	content: "";
	clear: both;
	display: table;
}

/* Add a background color on hover */
.btn-group button:hover {
	background-color: #3e8e41;
}

#footer {
	background: #120A2A;
	border-top: 5px solid #333;
	color: #ccc;
	font-weight: bold;
	height: 50px;
	line-height: 50px;
	position: absolute;
	/*bottom: 0;*/
	left: 0;
	width: 100%;
	text-align: center;
}
.body-wrapper{
	position: relative;
}
.row{
	margin-left: 0px;
	margin-right: 0px;
}
</style>
</head>
<body>
	<div class="container-fluid" style="margin-top: 20px;background-color: white">

		<!-- group button -->
		<div th:replace="commonPage/btnGroup :: groupButton"></div>
		<!-- end group button -->

		<div class="row data">
			<div class="col-md-1"></div>
			<div class="col-md-10" >
				<table class="table table-bordered" th:object="${user_recipe}">
					<tbody>
						<tr>
							<th>User Recipe ID</th>
							<td th:field="*{user_recipe_id}" th:text="*{user_recipe_id}"></td>
						</tr>
						<tr>
							<th>Recipe Name</th>
							<td th:field="*{name}" th:text="*{name}"></td>
						</tr>
						<tr>
							<th>Image</th>
							<td><img alt="" th:src="*{image}"> </td>
						</tr>
						<tr>
							<th>Description</th>
							<td th:field="*{desciption}" th:text="*{desciption}"></td>
						</tr>
						<tr>
							<th>Details</th>
							<td th:field="*{details}" th:text="*{details}"></td>
						</tr>
					</tbody>
				</table>
				
				<div class="update" style="margin-bottom: 10px;">
					<form th:object="${user_recipe}" th:action="@{/update_prize_status}" method="post">
						<input type="hidden" th:field="*{user_recipe_id}">
						<div class="form-group col-md-12">
							<div class="col-md-4" style="padding-left: 0px"><h4>Process of this order is completed ?</h4></div>
							<div class="col-md-2">
								<select class="form-control" th:field="*{prize_status}">
									<option value="0" th:selected="*{prize_status} == 0 ? 'selected'" >Processing</option>
									<option value="1" th:selected="*{prize_status} == 1 ? 'selected'">Received</option>
								</select> 
							</div>
							<div class="col-md-6"></div>
						</div>
						<button class="btn btn-success" type="submit">Update Status</button>
					</form>
				</div>
			</div>
			<div class="col-md-1"></div>
			
			
		</div>
	</div>
</body>
</html>