<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>

<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
<meta charset="utf-8" name="viewport"
	content="width=device-width, initial-scale=1">
<title>Admin</title>

<style>
*, *:after, *:before {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

body {
	font-weight: 400;
	line-height: 1.25;
	font-family: 'Raleway', Calibri, Arial, sans-serif;
	background-color: #120A2A;
}

.header {
	height: 150px;
	max-height: 150px;
}

.header-left {
	background: url('/images/logo.png');
	height: 150px;
	width: 150px;
	background-repeat: no-repeat;
	max-height: 150px;
}

.header-right {
	text-align: right;
	background: url('/images/IceCreambaner.gif');
	width: 70%;
	height: 100%;
	max-height: 100%;
}

.menu {
	height: 70px;
	max-height: 70px;
}

.btn-group button {
	background-color: #4CAF50; /* Green background */
	border: 1px solid green; /* Green border */
	color: #330000; /* White text */
	padding: 10px 24px; /* Some padding */
	cursor: pointer; /* Pointer/hand icon */
	float: left; /* Float the buttons side by side */
}

.btn-group button:not (:last-child ) {
	border-right: none; /* Prevent double borders */
}

/* Clear floats (clearfix hack) */
.btn-group:after {
	content: "";
	clear: both;
	display: table;
}

/* Add a background color on hover */
.btn-group button:hover {
	background-color: #3e8e41;
}

#footer {
	background: #120A2A;
	border-top: 5px solid #333;
	color: #ccc;
	font-weight: bold;
	height: 50px;
	line-height: 50px;
	position: absolute;
	/*bottom: 0;*/
	left: 0;
	width: 100%;
	text-align: center;
}
.body-wrapper{
	position: relative;
}
</style>
</head>
<body>

	<!-- header -->
	<div th:replace="commonPage/header :: headers"></div>
	<!-- end header -->

	<div class="container-fluid" style="margin-top: 20px;background-color: white">

		<!-- group button -->
		<div th:replace="commonPage/btnGroup :: groupButton"></div>
		<!-- end group button -->

		<div class="row">
			<div class="col-md-1">
					<a onclick="reload()">Feedback</a>
			</div>
			<div class="col-md-1">
				<a th:href="@{/frequentlyAskedQuestion}">Manage FAQ</a>
			</div>
			<div class="col-md-1">
				<a th:href="@{/addNewFAQ}">Add new FAQ</a>
			</div>
		</div>
		
		<div class="data">
			<h2 style="text-align: center;">Feedback</h2>
		
			<table class="table table-bordered">
				<thead style="background-color: #E0E6F8">
					<tr>
						<th scope="col">Id</th>
						<th scope="col">Full name</th>
						<th scope="col">Title</th>
						<th scope="col">Content</th>
						<th scope="col">Delete</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="listFeedback: ${listFeedback}">
						<th scope="row" th:text="${listFeedback.feedback_id}"></th>
						<td th:text="${listFeedback.full_name}"></td>
						<td th:text="${listFeedback.title}"></td>
						<td th:text="${listFeedback.content}"></td>
						<td>
							<form th:action="@{/deleteFeedback}" method="post">
								<input type="hidden" name="feedback_id" th:value="${listFeedback.feedback_id}">
								<button type="submit">Delete</button>
							</form>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
	
<script type="text/javascript">
	function reload(){
		location.reload();
	}
</script>
</body>
</html>