<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>

<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
<meta charset="utf-8" name="viewport"
	content="width=device-width, initial-scale=1">
<title>Admin</title>

<style>
*, *:after, *:before {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

body {
	font-weight: 400;
	line-height: 1.25;
	font-family: 'Raleway', Calibri, Arial, sans-serif;
	background-color: #120A2A;
}

.header {
	height: 150px;
	max-height: 150px;
}

.header-left {
	background: url('/images/logo.png');
	height: 150px;
	width: 150px;
	background-repeat: no-repeat;
	max-height: 150px;
}

.header-right {
	text-align: right;
	background: url('/images/IceCreambaner.gif');
	width: 70%;
	height: 100%;
	max-height: 100%;
}

.menu {
	height: 70px;
	max-height: 70px;
}

.btn-group button {
	background-color: #4CAF50; /* Green background */
	border: 1px solid green; /* Green border */
	color: #330000; /* White text */
	padding: 10px 24px; /* Some padding */
	cursor: pointer; /* Pointer/hand icon */
	float: left; /* Float the buttons side by side */
}

.btn-group button:not (:last-child ) {
	border-right: none; /* Prevent double borders */
}

/* Clear floats (clearfix hack) */
.btn-group:after {
	content: "";
	clear: both;
	display: table;
}

/* Add a background color on hover */
.btn-group button:hover {
	background-color: #3e8e41;
}

#footer {
	background: #120A2A;
	border-top: 5px solid #333;
	color: #ccc;
	font-weight: bold;
	height: 50px;
	line-height: 50px;
	position: absolute;
	/*bottom: 0;*/
	left: 0;
	width: 100%;
	text-align: center;
}
.body-wrapper{
	position: relative;
}
</style>
</head>
<body>
	<div class="container-fluid"
		style="margin-top: 20px; background-color: white">

		<!-- group button -->
		<div th:replace="commonPage/btnGroup :: groupButton"></div>
		<!-- end group button -->

		<div class="container main-content list">
			<th:block th:if="${#lists.isEmpty(onlineOrders.pageList)}">
				<h3>No Order</h3>
			</th:block>

			<th:block th:unless="${#lists.isEmpty(onlineOrders.pageList)}">
				<nav class="row justify-content-center wow fadeIn"
					data-wow-delay="0.2s">
					<div class="row" style="min-height: 500px">
						<table class="table table-bordered table-hover">
							<thead>
								<tr>
									<th scope="col">No.</th>
									<th scope="col">ID</th>
									<th scope="col">Buyer</th>
									<th scope="col">Email</th>
									<th scope="col">Contact</th>
									<th scope="col">Address</th>
									<th scope="col">Book Cost</th>
									<th scope="col">Paying Option</th>
									<th scope="col">Order Date</th>
									<th scope="col">Status</th>
									<th scope="col">Process</th>
								</tr>
							</thead>
							<tbody>
								<tr th:each="listOnlineOrder,iterStat : ${onlineOrders.pageList}">
									<td th:text="${iterStat.count}"></td>
									<th scope="row" th:text="${listOnlineOrder.order_id}"></th>
									<td th:text="${listOnlineOrder.name}"></td>
									<td th:text="${listOnlineOrder.email}"></td>
									<td th:text="${listOnlineOrder.contact}"></td>
									<td th:text="${listOnlineOrder.address}"></td>
									<td th:text="'$ '+ ${listOnlineOrder.book_cost}"></td>
									<td th:text="${listOnlineOrder.paying_option}"></td>
									<td th:text="${listOnlineOrder.order_date}"></td>

									<td
										th:text="${listOnlineOrder.status} == 1 ? 'Completed' : 'Processing'"></td>
									<td><a
										th:href="@{'/view-adminOrderDetails?order_id=' + ${listOnlineOrder.order_id}}">Details</a></td>

								</tr>
							</tbody>
						</table>
					</div>
					<ul class="pagination">
						<li
							th:class="${currentIndex == 1}? 'page-item disabled' : 'page-item'">
							<a class="page-link" th:href="@{/view-adminOnlineOrderMana}">First</a>
						</li>
						<li
							th:class="${currentIndex == 1}? 'page-item disabled': 'page-item' ">
							<a class="page-link" aria-label="Previous"
							th:href="@{|${baseUrl}${currentIndex - 1}|}"
							title='Go to previous page'><span aria-hidden="true">«</span>
								<span class="sr-only">Previous</span></a>
						</li>
						<li th:each="item : ${#numbers.sequence(beginIndex,endIndex)}"
							th:class="${item == currentIndex ? 'page-item active' :'page-item' }">
							<a class="page-link" th:href="@{|${baseUrl}${item}|}"> <span
								th:text='${item}'>1</span>
						</a>
						</li>
						<li
							th:class="${currentIndex == totalPageCount}? 'page-item disabled': 'page-item'">
							<a class="page-link" aria-label="Next"
							th:href="@{|${baseUrl}${currentIndex + 1}|}"
							title='Go to next page'><span aria-hidden="true">»</span> <span
								class="sr-only">Next</span></a>
						</li>
						<li
							th:class="${currentIndex == totalPageCount}? 'page-item disabled':'page-item'">
							<a class="page-link" th:href="@{|${baseUrl}${totalPageCount}|}">Last</a>
						</li>
					</ul>
				</nav>

			</th:block>
		</div>
	</div>
	<!-- /.container -->
			

	<!-- footer -->
	<div th:replace="commonPage/footer :: footer"></div>>
	<!-- end footer -->



</body>
</html>