<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>

<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
<meta charset="utf-8" name="viewport"
	content="width=device-width, initial-scale=1">
<title>Ice-Cream Admin</title>

<style>
*, *:after, *:before {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

body {
	font-weight: 400;
	line-height: 1.25;
	font-family: 'Raleway', Calibri, Arial, sans-serif;
	background-color: #120A2A;
}

.header {
	height: 150px;
	max-height: 150px;
}

.header-left {
	background: url('/images/logo.png');
	height: 150px;
	width: 150px;
	background-repeat: no-repeat;
	max-height: 150px;
}

.header-right {
	text-align: right;
	background: url('/images/IceCreambaner.gif');
	width: 70%;
	height: 100%;
	max-height: 100%;
}

.btn-group button {
	background-color: #4CAF50; /* Green background */
	border: 1px solid green; /* Green border */
	color: #330000; /* White text */
	padding: 10px 24px; /* Some padding */
	cursor: pointer; /* Pointer/hand icon */
	float: left; /* Float the buttons side by side */
}

.btn-group button:not (:last-child ) {
	border-right: none; /* Prevent double borders */
}

/* Clear floats (clearfix hack) */
.btn-group:after {
	content: "";
	clear: both;
	display: table;
}

/* Add a background color on hover */
.btn-group button:hover {
	background-color: #3e8e41;
}

#footer {
	background: #120A2A;
	border-top: 5px solid #333;
	color: #ccc;
	font-weight: bold;
	height: 50px;
	line-height: 50px;
	position: absolute;
	/*bottom: 0;*/
	left: 0;
	width: 100%;
	text-align: center;
}
	.container-fluid > .row{
	margin-top: 10px;
	margin-left: 0px;
	margin-right: 0px;
}
</style>
</head>
<body>

	<div class="container-fluid" style="margin-top: 20px; background-color: white">
		
		<!-- group button -->
		<div th:replace="commonPage/btnGroup :: groupButton"></div>
		<!-- end group button -->
		
		<div class="row" style="text-align: center;color: red;">
			<h2>User Recipe</h2>
		</div>
		<div class="row">
			<div class="panel panel-primary">
				<div class="panel-heading"></div>
				<div class="panel-body col-md-12" style="background-color: #E0F8F7">
					<div class="row" th:each="listUserRecip: ${listUserRecip}">
						<div class="col-md-4">
							<div class="col-md-1" th:text="${listUserRecip.user_recipe_id}">Id</div>
							<div class="col-md-2" th:text="${listUserRecip.name}">name</div>
							<div class="col-md-9"><img alt="" th:src="${listUserRecip.image}" width="300px" height="300px"></div>
						</div>
						<div class="col-md-8">
							<div class="col-md-3" th:text="${listUserRecip.desciption}">description</div>
							<div class="col-md-3" th:text="${listUserRecip.details}">Detail</div>
							<div class="col-md-1" th:text="${listUserRecip.customer_id}">cusID</div>
							<div class="col-md-1" th:text="${listUserRecip.prize_status}">prize status</div>
							<div class="col-md-1" >
								<input type="checkbox" name="enable" value="1" th:checked="${listUserRecip.enable_status} == 1 ? 'checked'">
							</div>
							<div class="col-md-1">
								<a th:href="@{'/view-adminUserRecipePrizedDetail?user_recipe_id=' + ${listUserRecip.user_recipe_id}}"><button>Prize</button></a>
							</div>
							<div class="col-md-1">
								<a th:href="@{'/view-edit-UserRecipe?user_recipe_id=' + ${listUserRecip.user_recipe_id}}"><button>Edit</button></a>
							</div>
							<div class="col-md-1">
								<form th:action="@{/deleted-UserRecip}" method="post">
										<input type="hidden" name="user_recipe_id" th:value="${listUserRecip.user_recipe_id}">
										<button type="submit">Delete</button>
								</form>
							</div>
						</div>
					</div>
			
					
					
				</div>
			</div>
		</div>
	</div>

	<!-- footer -->
	<div th:replace="commonPage/footer :: footer"></div>>
	<!-- end footer -->



</body>
</html>