<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>

<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
<meta charset="utf-8" name="viewport"
	content="width=device-width, initial-scale=1">
<title>ICE-CREAM</title>

<style>
*, *:after, *:before {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

body {
	font-weight: 400;
	line-height: 1.25;
	font-family: 'Raleway', Calibri, Arial, sans-serif;
	background-color: #120A2A;
}

.header {
	height: 150px;
	max-height: 150px;
}

.header-left {
	background: url('/images/logo.png');
	height: 150px;
	width: 150px;
	background-repeat: no-repeat;
	max-height: 150px;
}

.header-right {
	text-align: right;
	background: url('/images/IceCreambaner.gif');
	width: 70%;
	height: 100%;
	max-height: 100%;
}

.menu {
	height: 70px;
	max-height: 70px;
}

.btn-group button {
	background-color: #4CAF50; /* Green background */
	border: 1px solid green; /* Green border */
	color: #330000; /* White text */
	padding: 10px 24px; /* Some padding */
	cursor: pointer; /* Pointer/hand icon */
	float: left; /* Float the buttons side by side */
}

.btn-group button:not (:last-child ) {
	border-right: none; /* Prevent double borders */
}

/* Clear floats (clearfix hack) */
.btn-group:after {
	content: "";
	clear: both;
	display: table;
}

/* Add a background color on hover */
.btn-group button:hover {
	background-color: #3e8e41;
}

#footer {
	background: #120A2A;
	border-top: 5px solid #333;
	color: #ccc;
	font-weight: bold;
	height: 50px;
	line-height: 50px;
	position: absolute;
	/*bottom: 0;*/
	left: 0;
	width: 100%;
	text-align: center;
}
</style>
</head>
<body>

	<!-- header -->
	<div th:replace="commonPage/header :: headers"></div>
	<!-- end header -->

	<div class="container-fluid" style="margin-top: 20px;background-color: white">

		<!-- group button -->
		<div th:replace="commonPage/btnGroup :: groupButton"></div>
		<!-- end group button -->
		
		<div class="col-md-12" style="margin-top: 20px;">
			<div class="text-center text-info" style="height: 40px; width: 100%; background-color: #9966FF;color: #330000"><h3 style="line-height: 40px"> Change password</h3> </div>
		
			<div class="col-md-4"></div>
			<div class="col-md-4" style="height: auto; margin-right: -18px; margin-bottom: 10px">
				<div id="login">
					<form id="login-form" th:action="'admin-changePassword'" method="post">
						<h3 th:text="${message}"></h3>
						<input type="hidden" name="username" th:value="${username}">
						<input type="hidden" name="password" th:value="${password}">

						<div class="form-group">
							<label for="oldPassword" class="text-info">Old password:</label><br>
							<input type="password" name="oldPassword" id="oldPassword"
								class="form-control">
						</div>

						<div class="form-group">
							<label for="newPassword" class="text-info">New Password:</label><br>
							<input type="password" name="newPassword" id="newPassword"
								class="form-control">
						</div>
						<div class="form-group">
							<label for="rePassword" class="text-info">Re-type new Password:</label><br>
							<input type="password" name="rePassword" id="rePassword"
								class="form-control">
						</div>
						<button class="btn btn-success" type="submit">Submit</button>
						<button class="btn btn-danger" type="reset">Clear</button>
						
					</form>
				</div>
			</div>
			<div class="col-md-4"></div>
		</div>
	</div>
	
	<!-- footer -->
	<div th:replace="commonPage/footer :: footer"></div>>
	<!-- end footer -->



</body>
</html>