<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<body>
<div class="btn-group menu" style="width: 100%;" th:fragment="groupButton">
	<a th:href="@{/view-adminCustomerMana}"><button style="width: 14.28%; background-color: #A9F5F2;">Customers</button></a>
	<a th:href="@{/view-adminRecipesMana}"><button style="width: 14.28%; background-color: #A9F5F2">Recipes</button></a>
	<a th:href="@{/view-adminFeedbackFAQMana}"><button style="width: 14.28%; background-color: #A9F5F2">Feedback FAQ</button></a>
	<a th:href="@{/view-adminPrizeMana}"><button style="width: 14.28%; background-color: #A9F5F2">Prize</button></a>
	<a th:href="@{/view-adminOnlineOrderMana}"><button style="width: 14.28%; background-color: #A9F5F2">Orders</button></a>
	<button style="width: 14.28%; background-color: #A9F5F2" onclick="message()">Setting</button>
	<a><button style="width: 14.28%; background-color: #A9F5F2">Logout</button></a>
</div>
<script type="text/javascript">
	function message(){
		alert('this function is not yet complete, please try again !')
	}
</script>
</body>
</head>