
<div class="container-fluid" th:fragment="headers">
		<div class="col-md-12 row header">
			<div class="col-md-3 header-left"></div>
			<div class="col-md-2"></div>
			<div class="col-md-7 header-right"></div>
		</div>
</div>
