<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>

<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
<meta charset="utf-8" name="viewport"
	content="width=device-width, initial-scale=1">
<title>ICE-CREAM</title>

<style>
*, *:after, *:before {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

body {
	font-weight: 400;
	line-height: 1.25;
	font-family: 'Raleway', Calibri, Arial, sans-serif;
	background-color: #120A2A;
}
.menu {
	height: 70px;
	max-height: 70px;
}

.btn-group button {
	background-color: #4CAF50; /* Green background */
	border: 1px solid green; /* Green border */
	color: 330000; /* White text */
	padding: 10px 24px; /* Some padding */
	cursor: pointer; /* Pointer/hand icon */
	float: left; /* Float the buttons side by side */
}

.btn-group button:not (:last-child ) {
	border-right: none; /* Prevent double borders */
}

/* Clear floats (clearfix hack) */
.btn-group:after {
	content: "";
	clear: both;
	display: table;
}

/* Add a background color on hover */
.btn-group button:hover {
	background-color: #3e8e41;
}
.row{
	margin-left: 0px;
	margin-right: 0px;
}
</style>
</head>
<body>
	<div class="container-fluid" style="margin-top: 20px; color: #770000; background-color: white">
		
		<!-- group button -->
		<div th:replace="commonPage/btnGroup :: groupButton"></div>
		<!-- end group button -->
		<div class="row">
			<div class="col-md-1">
					<a th:href="@{/view-adminFeedbackFAQMana}">Feedback</a>
			</div>
			<div class="col-md-1">
				<a th:href="@{/frequentlyAskedQuestion}">Manage FAQ</a>
			</div>
			<div class="col-md-1">
				<a th:href="@{/addNewFAQ}">Add new FAQ</a>
			</div>
		</div>
		<div class="title">
			<h2 style="text-align: center;">Add New FAQ</h2>
		</div>
		<div class="row col-md-12">
			<div class="col-md-3"></div>
			<div class="col-md-6">
				<form th:object="${faq}" th:action="@{/saveFAQ}" method="post">
					<div class="form-group row">
							<label class="col-sm-2 col-form-label">Question: </label>
							<div class="col-sm-9">
								<textarea rows="5" cols="2" class="form-control" name="question" th:field="*{question}"></textarea>
								<h6 th:if="${#fields.hasErrors('question')}" th:errors="*{question}" style="color: red"></h6>
								
							</div>
							<div class="col-md-1">*</div>
					</div>
					<div class="form-group row">
							<label class="col-sm-2 col-form-label">Answer: </label>
							<div class="col-sm-9">
								<textarea rows="5" cols="2" class="form-control" name="answer" th:field="*{answer}"></textarea>
								<h6 th:if="${#fields.hasErrors('answer')}" th:errors="*{answer}" style="color: red"></h6>
							</div>
							<div class="col-md-1">*</div>
							
					</div>
					<h4 style="text-align: center; color: red">* is required</h4>
					<button style="margin-left: 50%" type="submit" class="btn btn-success">Add</button>
					<br>
					<br>
				</form>
			</div>
			<div class="col-md-3"></div>
		</div>
	</div>

</body>
</html>