<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>

<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
<meta charset="utf-8" name="viewport"
	content="width=device-width, initial-scale=1">
<title>ICE-CREAM</title>

<style>
*, *:after, *:before {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

body {
	font-weight: 400;
	line-height: 1.25;
	font-family: 'Raleway', Calibri, Arial, sans-serif;
}

.header {
	height: 150px;
	border: 1px solid pink;
	background: #383a3c;
	font-size: 18px;
}

.header-left {
	background: url('/images/logo.png');
	height: 150px;
	width: 150px;
	background-repeat: no-repeat;
}

.header-right {
	margin-top: 100px;
	text-align: center;
}

.header-right a {
	margin-left: 80px;
	color: red;
}

.recipes h5 {
	border-top: 1px solid pink;
	line-height: 30px;
}
</style>
</head>
<body>
	<div class="container" style="margin-top: 50px;">
		<div class="row"
			style="text-align: left; margin-left: 0px; margin-right: 0px;">
			<div class="col-md-3"></div>
			<div class="col-md-6">
				<form th:object="${customer}">
					<div class="form-group row" style="border-bottom: 1px solid pink;">
					<span sec:authentication="name"></span>
						<h5 th:text="'Full name: ' + *{full_name}">Full name: "info"</h5>
					</div>
					<div class="form-group row" style="border-bottom: 1px solid pink;">
						<h5 th:text="'Address: ' + *{address}" >Address: "info"</h5>
					</div>
					<div class="form-group row" style="border-bottom: 1px solid pink;">
						<h5 th:text="'Phone Numer: ' + *{phone_number}" >Phone number: "info"</h5>
					</div>
					<div class="form-group row" style="border-bottom: 1px solid pink;">
						<h5 th:text="'Email: ' + *{email}" >Email: "info"</h5>
					</div>
					<div class="form-group row" style="border-bottom: 1px solid pink;">
						<h5 th:text="'Gender: ' + *{gender}" >Gender: "info"</h5>
					</div>
					<div class="form-group row" style="border-bottom: 1px solid pink;">
						<h5 th:text="'Birth day: ' + *{birthday}" >Birth day: "info"</h5>
					</div>
					<div class="form-group row" style="border-bottom: 1px solid pink;">
						<h5>Avatar:</h5>
						<img alt="" th:src="'/' + *{avatar}" width="250" height="250">
					</div>
					<div class="form-group row" style="border-bottom: 1px solid pink;">
						<h5 th:text="'Expiration Date: ' + *{expired_date}" >Expiration Date: "info"</h5>
					</div>
					<!-- <a th:href="@{/view-adminPrizeMana}"><button>Back</button></a> -->
				</form>
			</div>
			<div class="col-md-3"></div>
		</div>
	</div>
	   
</body>
</html>