<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>

<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
<meta charset="utf-8" name="viewport"
	content="width=device-width, initial-scale=1">
<title>ICE-CREAM</title>

<style>
*, *:after, *:before {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

body {
	font-weight: 400;
	line-height: 1.25;
	font-family: 'Raleway', Calibri, Arial, sans-serif;
	background-color: #120A2A;
}

.menu {
	height: 70px;
	max-height: 70px;
}

.btn-group button {
	background-color: #4CAF50; /* Green background */
	border: 1px solid green; /* Green border */
	color: 330000; /* White text */
	padding: 10px 24px; /* Some padding */
	cursor: pointer; /* Pointer/hand icon */
	float: left; /* Float the buttons side by side */
}

.btn-group button:not (:last-child ) {
	border-right: none; /* Prevent double borders */
}

/* Clear floats (clearfix hack) */
.btn-group:after {
	content: "";
	clear: both;
	display: table;
}

/* Add a background color on hover */
.btn-group button:hover {
	background-color: #3e8e41;
}

</style>
</head>
<body>
	<div class="container-fluid" style="margin-top: 20px; color: #770000; background-color: white">
		
		<!-- group button -->
		<div th:replace="commonPage/btnGroup :: groupButton"></div>
		<!-- end group button -->
		
		<div class="col-md-12" style="margin-top: 20px; margin-bottom: 20px;">
			<div class="col-md-4"></div>
			<div class="col-md-4" style="height: auto; margin-right: -18px;">
				<div id="login">
					<form id="login-form" th:object="${myUploadForm}" th:action="@{/saveEditUserRecipe}" method="post" enctype="multipart/form-data">
						<div th:object="${user_recipe}">
							<div th:oject="*{customer}"></div>
							<h3 class="text-center text-info"> Edit User Recipe </h3>
							<h3 th:text="${result}"></h3>
							<div class="form-group row">
								<label class="col-sm-3 col-form-label">User Recipe ID: </label>
								<div class="col-sm-9">
									<input type="text" class="form-control" name="user_recipe_id" readonly th:field="*{user_recipe_id}">
								</div>
							</div>
							<div class="form-group row">
								<label class="col-sm-3 col-form-label">Name: </label>
								<div class="col-sm-9">
									<input type="text" class="form-control" name="name" th:field="*{name}">
									<h6 th:if="${#fields.hasErrors('name')}" th:errors="*{name}" style="color: red"></h6>
									
								</div>
							</div>
							
							<div class="form-group row">
								<label class="col-sm-3 col-form-label" >Image: </label>
								<div class="col-sm-9">
									<div class="input-group">
										<input type="file" id="imgInp" th:field="${myUploadForm.fileDatas}">
										<h6 th:if="${checkfile}" th:text="${checkfile}" style="color: red"></h6>
									</div>
								</div>
							</div>
							<input type="hidden" id="imgInp" name="image" th:field="*{image}" th:value="${myUploadForm.fileDatas}">
							<input type="hidden" id="imgInp" name="prize_status" th:field="*{prize_status}">
							
							<div class="form-group row">
								<label class="col-sm-3 col-form-label">Description: </label>
								<div class="col-sm-9">
									<textarea rows="5" cols="2" style="overflow: scroll;" class="form-control" name="desciption" th:field="*{desciption}"></textarea>
									<h6 th:if="${#fields.hasErrors('desciption')}" th:errors="*{desciption}" style="color: red"></h6>
								</div>
							</div>
							
							<div class="form-group row">
								<label class="col-sm-3 col-form-label">Details: </label>
								<div class="col-sm-9">
									<textarea rows="5" style="overflow: scroll;" cols="2" class="form-control" name="details" th:field="*{details}"></textarea>
									<h6 th:if="${#fields.hasErrors('details')}" th:errors="*{details}" style="color: red"></h6>
								</div>
								
							</div>
							

							<div class="form-group row">
								<label class="col-sm-3 col-form-label">Enable Status: </label>
								<div class="col-sm-9">
									<input type="checkbox" name="enableStatus" value="1" th:field="*{enable_status}" th:checked="*{enable_status} == 1 ? 'checked'">
								</div>
							</div>
							<button class="btn btn-success" type="submit">Edit</button>
							<button class="btn btn-success" type="button" onclick="goBack()">Cancel</button>
						</div>
				
					</form>
				</div>
			</div>
			<div class="col-md-4"></div>
		</div>
	</div>
	<script type="text/javascript">
	function goBack() {
		  window.history.back();
		}

</script>


</body>
</html>