<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>

<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
<meta charset="utf-8" name="viewport"
	content="width=device-width, initial-scale=1">
<title>ICE-CREAM</title>

<style>
*, *:after, *:before {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

body {
	font-weight: 400;
	line-height: 1.25;
	font-family: 'Raleway', Calibri, Arial, sans-serif;
	background-color: #120A2A;
}
.menu {
	height: 70px;
	max-height: 70px;
}

.btn-group button {
	background-color: #4CAF50; /* Green background */
	border: 1px solid green; /* Green border */
	color: 330000; /* White text */
	padding: 10px 24px; /* Some padding */
	cursor: pointer; /* Pointer/hand icon */
	float: left; /* Float the buttons side by side */
}

.btn-group button:not (:last-child ) {
	border-right: none; /* Prevent double borders */
}

/* Clear floats (clearfix hack) */
.btn-group:after {
	content: "";
	clear: both;
	display: table;
}

/* Add a background color on hover */
.btn-group button:hover {
	background-color: #3e8e41;
}
.row{
	margin-left: 0px;
	margin-right: 0px;
}
</style>
</head>
<body>
	<div class="container-fluid" style="margin-top: 20px; color: #770000; background-color: white">
		
		<!-- group button -->
		<div th:replace="commonPage/btnGroup :: groupButton"></div>
		<!-- end group button -->
		<div class="row">
			<div class="col-md-1">
					<a th:href="@{/view-adminFeedbackFAQMana}">Feedback</a>
			</div>
			<div class="col-md-1">
				<a th:href="@{/frequentlyAskedQuestion}">Manage FAQ</a>
			</div>
			<div class="col-md-1">
				<a th:href="@{/addNewFAQ}">Add new FAQ</a>
			</div>
		</div>
		<div class="data">
			<h2 style="text-align: center;">Frequently Asked Question</h2>
			<table class="table table-bordered">
				<thead style="background-color: #E0E6F8">
					<tr>
						<th scope="col">Id</th>
						<th scope="col">Question</th>
						<th scope="col">Answer</th>
						<th scope="col">Delete</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="listFAQ: ${listFAQ}">
						<th scope="row" th:text="${listFAQ.faq_id}">1</th>
						<td th:text="${listFAQ.question}">question</td>
						<td th:text="${listFAQ.answer}">answer</td>
						<td>
							<form th:action="@{/deleteFAQ}" method="post">
								<input type="hidden" name="faq_id" th:value="${listFAQ.faq_id}">
								<button type="submit">Delete</button>
							</form>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>

</body>
</html>