<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>

<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
<meta charset="utf-8" name="viewport"
	content="width=device-width, initial-scale=1">
<title>ICE-CREAM</title>

<style>
*, *:after, *:before {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

body {
	font-weight: 400;
	line-height: 1.25;
	font-family: 'Raleway', Calibri, Arial, sans-serif;
	background-color: #120A2A;
}
.menu {
	height: 70px;
	max-height: 70px;
}

.btn-group button {
	background-color: #4CAF50; /* Green background */
	border: 1px solid green; /* Green border */
	color: 330000; /* White text */
	padding: 10px 24px; /* Some padding */
	cursor: pointer; /* Pointer/hand icon */
	float: left; /* Float the buttons side by side */
}

.btn-group button:not (:last-child ) {
	border-right: none; /* Prevent double borders */
}

/* Clear floats (clearfix hack) */
.btn-group:after {
	content: "";
	clear: both;
	display: table;
}

/* Add a background color on hover */
.btn-group button:hover {
	background-color: #3e8e41;
}
.row{
	margin-left: 0px;
	margin-right: 0px;
}
</style>
</head>
<body>
	<div class="container-fluid" style="margin-top: 20px; color: #770000; background-color: white">
		
		<!-- group button -->
		<div th:replace="commonPage/btnGroup :: groupButton"></div>
		<!-- end group button -->
		
		<div class="col-md-12" style="margin-top: 20px; margin-bottom: 20px;">
			<div class="col-md-2"></div>
			<div class="col-md-8" style="height: auto; margin-right: -18px;">
				<div class="panel panel-primary">
					<div class="panel-heading">PreView</div>
					<div class="panel-body" style="background-color: #E0F8F7">
						<form th:action="@{/saveNewRecipe}" th:object="${myUploadForm}" method="post" enctype="multipart/form-data">
							<div class="row" th:object="${recipe}">
								<input type="hidden" name="name" th:field="*{name}">
								<input type="hidden" name="desciption" th:field="*{desciption}">
								<input type="hidden" id="imgInp" th:field="${myUploadForm.fileDatas}">
								<input type="hidden" name="details" th:field="*{details}">
								<input type="hidden" name="author" th:field="*{author}">
								<input type="hidden" name="enable_status" th:field="*{enable_status}">
								<input type="hidden" name="upload_date" th:field="*{upload_date}">
								<input type="hidden" name="image" th:field="*{image}">
								
								<div class="row">
									<div class="col-md-5"><img width="300px" height="300px" alt="" th:src="*{image}"></div>
									<div class="col-md-7">
										<h4 th:text="*{desciption}"></h4>
									</div>
								</div>
								<div class="row">
									<h4 th:text="*{details}"></h4>
								</div>
								<button type="submit">Finished</button>
							</div>
						</form>
					</div>
				</div>
			</div>
			<div class="col-md-2"></div>
		</div>
	</div>

</body>
</html>